html, body {
    margin:0;
    padding: 0;
    background-image: url("code01.gif");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    min-height: 100%;
    font-family: 'Segoe UI', Verdana, sans-serif; 
}

.e404 {
    font-size: 155px;
    font-weight: 700;
    color: white;
   
}

.text {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
    align-items: center;
    margin: 0 30px;
}

a.button {
    background-color:rgb(67 148 242) ;
    font-weight: 800;
    border: 2px solid #0e24cf;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 26px;
    padding: 25px;
}  

footer {
    margin-top: 50px; 
}

a.button:hover {
    color: rgb(4 16 246);
}

@media screen and (min-width: 1024px) {
    .e404 {
        font-size: 200px;
    }
    .text {
        font-size: 50px;
    }
}

















